<div class="inner cover">
    <div class="row">
       <div class="col-md-4">
            <div class="with_vertical_padding">
                <h1 class="cover-heading">Current Telemetry</h1>
            </div>
            <table>
                <tr>
                    <td><p class="lead">Payload Name:</p></td>
                    <td><p>{{payload_name}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Time:</p></td>
                    <td><p>{{time}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Altitude:</p></td>
                    <td><p>{{altitude}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Latitude:</p></td>
                    <td><p>{{latitude}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Longitude:</p></td>
                    <td><p>{{longitude}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Speed:</p></td>
                    <td><p>{{speed}}</p></td>
                </tr>
                <tr>
                    <td><p class="lead">Heading:</p></td>
                    <td><p>{{heading}}</p></td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <div id="map-canvas" style="height: 550px;"/>
        </div>
      </div>
    
</div>