/project.latex/nbproject/private/
/project.latex/build/
/project.latex/dist/
/project.latex.balloon/nbproject/private/
/project.latex.balloon/build/
/project.latex.balloon/dist/
/project.latex.ground/nbproject/private/
/project.latex.ground/build/
/project.latex.ground/*.csv
/ProjectLatexWebService/nbproject/private/
/ProjectLatexWebService/dist/
/ProjectLatexWebService/build/
/project.latex.ground/dist/
/Balloon/project.latex/nbproject/private/
/Balloon/project.latex.balloon/nbproject/private/
/Balloon/project.latex/build/
/Balloon/project.latex.balloon/build/
/Balloon/project.latex/dist/
/Balloon/project.latex.balloon/dist/
/GroundStation/ProjectLatexWebService/build/
/GroundStation/ProjectLatexWebService/dist/
/GroundStation/ProjectLatexWebService/nbproject/private/
/GroundStation/project.latex.ground/build/
/GroundStation/project.latex.ground/dist/
/GroundStation/project.latex.ground/nbproject/private/